{% extends "_base.html" %}

{% block title %}Blog{% endblock title %}

{% block content %}
<h1>Post List</h1>

<a href="{% url 'post_create' %}">NEW POST</a>

<ul>
  {% for post in posts %}
  <li>
    <a href="{% url 'post' post.slug %}">
      <h2>{{ post.title }}</h2>
    </a>
    <p>{{ post.body }}</p>
    <small>By: {{ post.author }}</small>
  </li>
  <a href="{% url 'post_update' post.slug%}">EDIT</a>
  <a href="{% url 'post_delete' post.slug%}">DELETE</a>
  {% endfor %}
</ul>
{% endblock content %}