{% extends "_base.html" %}
{% load static %}

{% block title %}
Blog
{% if current_tag %}
| {{ current_tag.name }}
{% elif current_query %}
| Search: {{ current_query }}
{% endif %}
{% endblock title %}

<!-- Main Content -->
{% block content %}
<main class="main min-vh-100" id="top">

  <!-- Preloader -->
  {% include "preloader.html" %}
  <!-- End Preloader -->

  <!-- Post Title -->
  <section class="py-0 bg-dark">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-8 mb-6">
          <h1 class="post-title text-white display-8 fs-3 fs-md-4" data-zanim-xs='{"delay":0.6}'
            data-zanim-trigger="scroll">
            {% if current_tag %}
            {{ current_tag.name }}
            {% elif current_query %}
            {{ current_query }}
            {% else %}
            Latest Posts
            {% endif %}
          </h1>
        </div>
      </div>
    </div>
  </section>
  <!-- End Post Title -->

  <!-- Article Body -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <!-- Display if posts found -->
          {% if posts %}

          <!-- Post List -->
          {% for post in posts %}
          <div class="mb-6 mb-lg-8">
            <a class="font-sans-serif text-500" href="#!">{{ post.date_created|date }}</a>
            <a class="text-black" href="{% url 'post' post.slug %}">
              <h3>{{ post.title }}</h3>
            </a>
            <h4 class="fw-normal text-700 mt-3">{{ post.body|truncatechars_html:200 }}</h4>
            <a class="btn btn-link ps-0" href="{% url 'post' post.slug %}">
              read more
              <span class="d-inline-block ms-1">&xrarr;</span>
            </a>

            <!-- Edit/Delete -->
            {% if user.is_authenticated %}
            <br>
            <a href="{% url 'post_update' post.slug%}" class="btn btn-xs btn-outline-primary">Edit</a>
            <a href="{% url 'post_delete' post.slug%}" class="btn btn-xs btn-outline-danger">Delete</a>
            {% endif %}
            <!-- End Edit/Delete -->

          </div>
          {% endfor %}
          <!-- End Post List -->

          <!-- Pagination -->
          <nav aria-label="Blog Pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                {% if page_obj.has_previous %}
                {% if current_query %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ current_query|urlencode }}"
                  aria-label="Previous">
                  <span class="fa fa-caret-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                {% else %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span class="fa fa-caret-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                {% endif %}
                {% else %}
                <a class="page-link disabled" aria-label="Previous" aria-disabled="true">
                  <span class="fa fa-caret-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                {% endif %}
              </li>

              {% for page_number in page_obj.paginator.page_range %}
              <li class="page-item">
                {% if page_number != page_obj.number %}
                {% if current_query %}
                <a class="page-link" href="?page={{ page_number }}&q={{ current_query|urlencode }}">
                  {{ page_number }}
                </a>
                {% else %}
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
                {% else %}
                <a class="page-link disabled" aria-disabled="true">{{ page_number }}</a>
                {% endif %}
              </li>
              {% endfor %}

              <li class="page-item">
                {% if page_obj.has_next %}
                {% if current_query %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ current_query|urlencode }}"
                  aria-label="Next">
                  <span class="fa fa-caret-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                {% else %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span class="fa fa-caret-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                {% endif %}
                {% else %}
                <a class="page-link disabled" aria-label="Next" aria-disabled="true">
                  <span class="fa fa-caret-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                {% endif %}
              </li>
            </ul>
          </nav>
          <!-- End Pagination -->

          {% else %}
          <h3>No results found for: {{ current_query }}</h3>
          {% endif %}
          <!-- End Display if posts found -->

        </div>

        <!-- Sidebar -->
        <div class="col-lg-4 mt-6 mt-lg-0 ps-xl-7">
          <div class="row px-2">
            <div class="col">

              <!-- Search -->
              <form class="input-iconic" action="{% url 'search_list' %}" method="get">
                <input name="q" class="form-control" type="search" placeholder="Search..." />
                <div class="input-icon">
                  <button type="submit"><span class="fas fa-search text-500"></span></button>
                </div>
              </form>
              <!-- End Search -->

              <!-- Tags -->
              <div class="mt-6">
                <h4>Tags</h4>
                <ul class="nav mt-3">
                  {% if current_tag %}
                  <li>
                    <a class="btn btn-xs btn-outline-secondary m-1" href="{% url 'tag_list' current_tag.slug %}">
                      {{ current_tag.name.upper }}
                    </a>
                  </li>
                  {% else %}
                  {% for tag in common_tags %}
                  <li>
                    <a class="btn btn-xs btn-outline-secondary m-1" href="{% url 'tag_list' tag.slug %}">
                      {{ tag }}
                    </a>
                  </li>
                  {% endfor %}
                  {% endif %}
                </ul>
              </div>
              <!-- End Tags -->

            </div>
          </div>
        </div>
        <!-- End Sidebar -->

      </div>
    </div>
  </section>
  <!-- End Article Body -->


</main>
{% endblock content %}
<!-- End Main Content -->