{% extends "_base.html" %}
{% load static %}

<!-- Title -->
{% block title %}Home{% endblock title %}

<!-- Main Content -->
{% block content %}
<main class="main min-vh-100" id="top">
  <!-- Preloader -->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div> </div>
        <div></div>
        <div></div>
        <div></div>
        <div> </div>
      </div>
    </div>
  </div>
  <!-- End of Preloader -->

  <section class="py-0" id="promotionHeader">
    <div class="bg-holder overlay overlay-z-index-1"
      style="background-image:url(/static/img/headers/header-promotion.jpg);"
      data-zanim-xs='{"delay":0.4,"animation":"zoom-out"}' data-zanim-trigger="scroll">
    </div>

    <div class="container">
      <div class="row min-vh-50 align-items-center py-9">
        <div class="col-lg-6" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
          <div class="overflow-hidden">
            <h1 class="fs-4 fs-md-5 text-white display-4" data-zanim-xs='{"delay":0.1}'>Get it done<br />with sparrow
            </h1>
          </div>
          <div class="overflow-hidden">
            <h4 class="fw-normal mb-4 text-300 mt-5" data-zanim-xs='{"delay":0.2}'>Grow your business with full
              responsive website.</h4>
          </div>
          <div class="overflow-hidden">
            <div class="input-group pe-lg-7" data-zanim-xs='{"delay":0.3}'>
              <input class="form-control bg-transparent text-white border-700" type="text"
                placeholder="What type of website do you need?" aria-label="Recipient's username"
                aria-describedby="button-addon-interior" />
              <button class="btn btn-light px-3 fw-normal bg-200" id="button-addon-interior" type="button">get
                started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-4" id="promotionPartners">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-auto pe-6">
          <h6 class="mt-4 mt-md-0">TRUSTED BY 5M+<br class="d-none d-sm-block" />BUSINESSES</h6>
        </div>
        <div class="col-sm ms-auto mt-sm-0">
          <div class="row" data-zanim-timeline="{}" data-zanim-trigger="scroll">
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.1}'>
              <img class="logo" src="{% static 'img/logo/04.jpg' %}" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.2}'>
              <img class="logo" src="{% static 'img/logo/22.png' %}" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.3}'>
              <img class="logo" src="{% static 'img/logo/23.png' %}" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.4}'>
              <img class="logo" src="{% static 'img/logo/24.png' %}" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.5}'>
              <img class="logo" src="{% static 'img/logo/26.png' %}" alt="" />
            </div>
            <div class="col-auto col-md-4 col-lg-auto my-3" data-zanim-xs='{"animation":"slide-left","delay":0.6}'>
              <img class="logo" src="{% static 'img/logo/28.png' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light" id="promotionVideo">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 pe-sm-8" data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <div class="overflow-hidden">
            <h2 data-zanim-xs='{"delay":0.1}'>Your sparrow developers are ahead of the curve.</h2>
          </div>
          <div class="overflow-hidden">
            <h5 class="mt-4" data-zanim-xs='{"delay":0.2}'>Patric Cournoyer</h5>
          </div>
          <div class="overflow-hidden">
            <h6 class="text-700" data-zanim-xs='{"delay":0.3}'>CEO &amp; Founder, Sparrow inc.</h6>
          </div>
          <div class="mt-4" data-zanim-xs='{"delay":0.4}'><a class="btn btn-outline-dark" href="#!">see more
              stories</a></div>
        </div>
        <div class="col-lg-6 mt-6 mt-lg-0">
          <div class="ratio ratio-16x9">
            <div class="bg-holder rounded" style="background-image:url(/static/img/promotion-01.jpg);">
            </div>

            <div class="d-flex align-items-center justify-content-center"><a class="text-white" href="#!"
                data-bigPicture='{"ytSrc":"dStITCgn73w"}'><span class="fa-layers fa-fw fs-5"><i
                    class="fas fa-circle"></i><i class="text-dark fas fa-play"
                    data-fa-transform="shrink-12 right-0.5"></i></span></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="promotionFooter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4>Browse top services</h4>
          <hr />
        </div>
        <div class="col-12 mt-4 font-sans-serif">
          <div class="row">
            <div class="col-6 col-lg">
              <ul class="list-unstyled">
                <li><a class="py-1 d-inline-block text-700" href="#!">Android Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">AngularJS Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Bookkeepers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">C# Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Content Writers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Copywriters</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Customer Service Representatives</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Data Entry Specialists</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg">
              <ul class="list-unstyled">
                <li><a class="py-1 d-inline-block text-700" href="#!">Email Marketing Consultants</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Excel Experts</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Facebook Marketers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Graphic Designers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">iOS Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">JavaScript Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">jQuery Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Mobile App Developers</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg">
              <ul class="list-unstyled">
                <li><a class="py-1 d-inline-block text-700" href="#!">Objective-C Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">PHP Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Python Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Sales Consultants</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">SEO Experts</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Social Media Consultants</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Swift Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Technical Writers</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg">
              <ul class="list-unstyled">
                <li><a class="py-1 d-inline-block text-700" href="#!">UI Designers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">UX Designers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Virtual Assistants</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Web Designers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Wordpress Developers</a></li>
                <li><a class="py-1 d-inline-block text-700" href="#!">Writers</a></li>
                <li><a class="py-1 d-inline-block" href="#!">See All Skills<span
                      class="ms-1 fs-1 d-inline-block">&raquo;</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
<!-- End of Main Content -->